body {
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.caja {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;

}

.logoalura {
    width: 100%;
    float: left;
}

.imagen1 {
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.titulo {
    float: inherit;
    margin-left: 30%;
    margin-top: 20px;
    font-size: large;
    color: #0A3871;
}

.ladoizquierdo {
    float: left;
    /*lo dejamos libre sin anclar */
    width: 70%;
    /*ocupe un ancho del 70%  de espacio*/
    height: 70%;
    /*se configura de manera automatica su altura*/
    border-radius: 24px;
    /*redondeo los bordes */
}

.textoentrada {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    /*Sin bordes*/
    outline: none;
    /*Sin bordes mientras se escribe*/
    background: #F3F5FC;
}

.ladoderecho {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
}

#imagefinal {
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: 70%;
}

#textoimagenfinal {
    color: #0A3871;
    text-align: center;
}

#areadetextofinal {
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    background: white;
}

.botones {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;

}

#parrafobotones {
    color: #0A3871;
    margin-left: 15%;
    padding: 3px;
}

#btencriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
    cursor: pointer;
    transition: 1s all;
}
#btencriptar:hover {
    background:#0A3871;
    /*Resalta cuando el raton esta arriba del recuadro*/
    transform: scale(1.2);
    /*Agranda el boton haciendo un aumento de el*/
}
#btdesencriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #08DFE8;
    cursor: pointer;
    transition: 1s all;
}

#btdesencriptar:hover {
    background:#08DFE8;
    /*Resalta cuando el raton esta arriba del recuadro*/
    transform: scale(1.2);
    /*Agranda el boton haciendo un aumento de el*/
}

#btcopiar {
    margin-left: 33%;
    margin-top: 10%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #08DFE8;
    border-radius: 24px;
    display: none;
    cursor: pointer;
    transition: 1s all;
}
#btcopiar:hover {
    background:#08DFE8;
    /*Resalta cuando el raton esta arriba del recuadro*/
    transform: scale(1.2);
    /*Agranda el boton haciendo un aumento de el*/
}

#creador{
    text-align: center;
    color: #0A3871;
}